.App {
  text-align: center;
  background-color: #ff347f;
  color: #fafafa;
  height: 900px;
  font-family: 'Times New Roman', Times, serif;
}

img {
  height: 30px;
}

li{
  list-style-type: none;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.nav button{
  border-radius: 15px;
  background-color: #f48db4;
  padding: 10px;
}

.navlink{
  text-decoration: none;
  color: #fafafa;
}

h1{
  font-family: cursive;
  text-align: center;
}

.carousel{
  background-color: #c9356c;
}

.login{
  background-color: #ff347f;
  color: #fafafa;
  height: 900px;
  text-align: center;
}

.login-button{
  border-radius: 15px;
  background-color: #f48db4;
  padding: 10px;
  color: #fafafa;
}

.form-div{
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-page{
  background-color: #ff347f;
  color: #fafafa;
  height: 900px;
  text-align: center;
}

.edit-page{
  text-align: center;
  background-color: #ff347f;
  color: #fafafa;
}

.edit-button{
  border-radius: 15px;
  background-color: #f48db4;
  padding: 10px;
  color: #fafafa;
}